@model WebSite.Models.Teacher
 
@{
    ViewBag.Title = "Добавление Преподавателя";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<h2>Добавление Преподавателя</h2>
 
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Преподаватель</legend>
 
        <p>
            ФИО <br />
            @Html.EditorFor(model => model.Name)
        </p>
 
        <p>
            Должность <br />
            @Html.EditorFor(model => model.Post)
        </p>
 
        <p>
            Ученая степень  <br />
            @Html.EditorFor(model => model.Degree)
        </p>
         <p>
            Ученое звание  <br />
            @Html.EditorFor(model => model.Title)
        </p>
         <p>
            Стаж работы  <br />
            @Html.EditorFor(model => model.Exp)
        </p>
        <p>
            Название публикации  <br />
           @Html.DropDownListFor(model => model.MonographId, ViewBag.MonographN as SelectList)
        </p>
         <p>
            Год издания  <br />
           @Html.DropDownListFor(model => model.MonographId, ViewBag.MonographY as SelectList)
        </p>
        <p>
            Количество страниц  <br />
            @Html.DropDownListFor(model => model.MonographId, ViewBag.MonographC as SelectList)
        </p>
        <p>
            Издательство <br />
            @Html.DropDownListFor(model => model.MonographId, ViewBag.Monograph as SelectList)
        </p>

        <p>
            <input type="submit" value="Добавить" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("К списку", "Index")
</div>