@model IEnumerable<WebSite.Models.Teacher>
@{
    ViewBag.Title = "Монография преподавателей";
}
 
<h2>Монография преподавателей</h2>
<p>
    @Html.ActionLink("Добавить преподавателя", "Create")
</p>

<form method="get">
    <div class="form-inline form-group">
        <label class="control-label">Имя: </label>
        <input name="name" class="form-control" />
 
        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>

<table>
    <tr>
        <th><a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort">
                Имя преподавателя
            </a></th>
        <th>Должность</th>
        <th>Ученая степень</th>
        <th>Ученое звание</th>
        <th>Стаж работы</th>
        <th>Название публикации</th>
        <th>Год издания</th>
        <th>Кол-во страниц</th>
        <th>Издания</th>
        <th></th>
    </tr>
 
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Degree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monograph.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monograph.Year)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Monograph.Count)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Monograph.Publish)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>